[Desktop Entry]
Name=Espanso
Exec=/home/plr/Applications/Espanso_3a938ade9611dd0453f2403a30fa41b9.AppImage launcher
Comment=Cross-platform Text Expander written in Rust 
Icon=/home/plr/.icons/esponso.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
Path=
StartupNotify=false
