[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=run.sh --file-forwarding com.logseq.Logseq @@u %U @@
Icon=com.logseq.Logseq
Name=Logseq
Categories=Office
MimeType=x-scheme-handler/logseq;
X-Flatpak=com.logseq.Logseq
