[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/freefont ture type]
row=2
col=0

[/home/plr/Desktop/plr-flpi]
row=4
col=0

[/home/plr/Desktop/Delete]
row=1
col=2

[/home/plr/Desktop/plr-dlpi]
row=0
col=17

[/home/plr/Desktop/sinhala]
row=3
col=0

[/home/plr/Desktop/xubuntu-default.tar.bz2]
row=5
col=0

[Trash]
row=0
col=0

[/home/plr]
row=1
col=0

