[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/plr/Desktop/fixers]
row=0
col=2

[/home/plr/Desktop/Cover.jpg]
row=4
col=2

[/home/plr/Desktop/Test]
row=4
col=1

[Trash]
row=0
col=0

[/home/plr]
row=1
col=0

